name: CD

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Set up JDK 13
      uses: actions/setup-java@v1
      with:
        java-version: 13.0.x

    - name: Checkout Performance Analyzer package
      uses: actions/checkout@v2

    - name: Build
      run: |
        ./gradlew build buildDeb buildRpm --refresh-dependencies -Dbuild.snapshot=false -x javadoc
        mkdir artifacts
        artifact=`ls build/distributions/*.zip`
        rpm_artifact=`ls build/distributions/*.rpm`
        deb_artifact=`ls build/distributions/*.deb`
        cp $artifact artifacts/
        cp $rpm_artifact artifacts/
        cp $deb_artifact artifacts/

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Upload Artifacts to S3
      shell: bash
      run: |
        zip=`ls artifacts/*.zip`
        rpm=`ls artifacts/*.rpm`
        deb=`ls artifacts/*.deb`

        # Inject the build number before the suffix
        zip_outfile=`basename ${zip%.zip}-build-${GITHUB_RUN_NUMBER}.zip`
        rpm_outfile=`basename ${rpm%.rpm}-build-${GITHUB_RUN_NUMBER}.rpm`
        deb_outfile=`basename ${deb%.deb}-build-${GITHUB_RUN_NUMBER}.deb`

        s3_prefix="s3://staging.artifacts.opendistroforelasticsearch.amazon.com/snapshot/elasticsearch-plugins/performance-analyzer/"

        echo "Copying ${zip} to ${s3_prefix}${zip_outfile}"
        aws s3 cp --quiet $zip ${s3_prefix}${zip_outfile}

        echo "Copying ${rpm} to ${s3_prefix}${rpm_outfile}"
        aws s3 cp --quiet $rpm ${s3_prefix}${rpm_outfile}

        echo "Copying ${deb} to ${s3_prefix}${deb_outfile}"
        aws s3 cp --quiet $deb ${s3_prefix}${deb_outfile}

    - name: Upload Workflow Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: artifacts
        path: artifacts/
